/* You can add global styles to this file, and also import other style files */
body {
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  display: none;
}

.img-logo {
  width: 60PX;
  height: 60PX;
}

.img-logo-2 {
  width: 120PX;
  height: 60PX;
}

.card-img-top {
  cursor: pointer;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
  
.fadeIn {
  animation-name: fadeIn;
}

.card-columns {
  column-count: 4;
}

/* RESPONSIVE */
@media (min-width: 769px) and (max-width: 1024px)
{
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 576px) and (max-width: 768px)
{
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 320px) and (max-width: 575px)
{
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}